<a href="https://colab.research.google.com/github/PavlovaAlena/PythonAnalitik1/blob/main/11Seminar1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Задание 1
Оформляйте ноутбук, используя эти советы:
 * Номер задачи - заголовок 2
 * Номер подзадачи - заголовок 3
 * Предоставленные наборы данных оформляйте, как код

## Задание 2
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [23]:
def sumFruits(**kwargs):
    return f'Общее кол-во фруктов: {sum(kwargs.values())}'

print(sumFruits(ananas=4, kiwi=7, grape=8, pear=10, apricot=5))

Общее кол-во фруктов: 34

## Задание 3
Дан список с затратами на рекламу `[100, 125, -90, 345, 655, -1, 0, 200]`. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты


Необходимо использовать list comprehensions

In [ ]:
listCost = [100, 125, -90, 345, 655, -1, 0, 200]

In [24]:
def convertCost(listCost):
    listCostNew = []
    for i in listCost:
        if i > 0:
            listCostNew.append(i)
    return listCostNew       

print(f'Новый список затрат: {convertCost(listCost)}')
print(f'Суммарные затраты: {sum(convertCost(listCost))}')

Новый список затрат: [100, 125, 345, 655, 200]
Суммарные затраты: 1425

In [25]:
def convertCost(listCost):
    return [i for i in listCost if i > 0]

listCostNew = convertCost(listCost)
print(f'Новый список затрат: {listCostNew}')
print(f'Суммарные затраты: {sum(listCostNew)}')

Новый список затрат: [100, 125, 345, 655, 200]
Суммарные затраты: 1425

## Задание 4

Даны два списка:

Дата покупки
`['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']`

Суммы покупок по датам
`[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]`

### 4.1
Найдите, какая выручка у компании в ноябре.
Необходимо использовать list comprehensions

In [26]:
dateIncome = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sumIncome = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [27]:
def novemberIncome(dIncome, sIncome):
    sIncomeNew = []
    for i in range(len(dIncome)-1):
        if '-11-' in dIncome[i]:
            sIncomeNew.append(sIncome[i])
    return sIncomeNew

print(f'Суммы покупок за ноябрь: {novemberIncome(dateIncome, sumIncome)}')
print(f'Выручка у компании в ноябре: {sum(novemberIncome(dateIncome, sumIncome))}')

Суммы покупок за ноябрь: [4944, 3701, 7037, 4274, 2004, 2822, 316]
Выручка у компании в ноябре: 25098

In [28]:
def novemberIncome(dIncome, sIncome):
    return [sIncome[i] for i in range(len(dIncome)-1) if '-11-' in dIncome[i]]

print(f'Суммы покупок за ноябрь: {novemberIncome(dateIncome, sumIncome)}')
print(f'Выручка у компании в ноябре: {sum(novemberIncome(dateIncome, sumIncome))}')

Суммы покупок за ноябрь: [4944, 3701, 7037, 4274, 2004, 2822, 316]
Выручка у компании в ноябре: 25098

### 4.2
Найдите выручку компании в зависимости от месяца. Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Необходимо использовать аннотирование типов.

In [29]:
def IncomeMonth(dIncome, sIncome) -> dict:
    
    dictIncomeMonth = {}
    
    for i in range(len(dIncome)):
        
        if dIncome[i].split('-')[1] in dictIncomeMonth.keys():
            dictIncomeMonth[dIncome[i].split('-')[1]] += sIncome[i]
        else:
            dictIncomeMonth[dIncome[i].split('-')[1]] = sIncome[i]
            
    return dict(sorted(dictIncomeMonth.items()))

print(IncomeMonth(dateIncome, sumIncome))

{'09': 25647, '10': 28645, '11': 25098, '12': 45452}